:root {
  --main-color: grey;
}
* {
  box-sizing: border-box;
  padding: 0;
}
.container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "myheader myheader myheader myheader myheader myheader"
    "mynav mynav mynav mynav mynav mynav"
    "mycntleft mymain mymain mymain mymain mycntright"
    "myfooter myfooter myfooter myfooter myfooter myfooter";
  height: 100vh;
  grid-template-rows: 15% 10% 1fr 10%;
}
.container > div {
  background-color: var(--main-color);
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  grid-area: myheader;
}
.nav {
  grid-area: mynav;
}
.main {
  grid-area: mymain;
}
.content-left {
  grid-area: mycntleft;
}
.content-right {
  grid-area: mycntright;
}
.footer {
  grid-area: myfooter;
}
@media (max-width: 576px) { 
    .container {
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
          "myheader myheader myheader myheader myheader myheader"
          "mynav mynav mynav mynav mynav mynav"
          "mymain mymain mymain mymain mymain mymain"
          "myfooter myfooter myfooter myfooter myfooter myfooter";
        height: 100vh;
        grid-template-rows: 15% 10% 1fr 10%;
      }
      .container .content-left, .container .content-right {
       display: none;
      }
 }

@media (min-width: 577px) and (max-width: 870px) { 
    .container {
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
          "myheader myheader myheader myheader myheader myheader"
          "mynav mynav mynav mynav mynav mynav"
          "mymain mymain mymain mymain mymain mycntright"
          "myfooter myfooter myfooter myfooter myfooter myfooter";
        height: 100vh;
        grid-template-rows: 15% 10% 1fr 10%;
      }
      .container .content-left {
       display: none;
      }
 }